<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/library-style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="left">
        <div class="sidebar">
            <div class="search">
                <form class="search-form">
                    <input type="text" placeholder="search...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="checkbox-container">
                <input class="mixed" type="checkbox" id="checkbox-one">
                <label for="checkbox-one">Math</label>
            </div>
            <br>
            <div class="checkbox-container">
                <input class="mixed" type="checkbox" id="checkbox-two">
                <label for="checkbox-two">Literature</label>
            </div>
            <br>
            <div class="checkbox-container">
                <input class="mixed" type="checkbox" id="checkbox-three">
                <label for="checkbox-three">English</label>
            </div>
            <br>
            <div class="checkbox-container">
                <input class="mixed" type="checkbox" id="checkbox-four">
                <label for="checkbox-four">Chemistry</label>
            </div>
            <br>
            <div class="checkbox-container">
                <input class="mixed" type="checkbox" id="checkbox-five">
                <label for="checkbox-five">Computer Science</label>
            </div>
            <hr style="width: 100%;">
            <div class="logout">
                <button id="sign-in"><i class="fa fa-sign-out"></i><b> Sign out</b></button>
            </div>
        </div>

    </div>
    <div class="right">
        <div class="container-right">
            <div class="header">
                <div class="user">
                    <img src="purple-linear-outline-person-icon-user-icon-in-vector-29003247.jpg" style="width: 51.3px; height: 51.7px;display: inline">
                    <span>Admin</span>
                </div>
            </div>
            <div class="content">
                <div class="column">
                    <div class="card">
                        <i id="icon" class="fa fa-graduation-cap"></i>
                        <div>
                            <b>100</b>
                            <span>Tổng số sinh viên</span>
                        </div>
                        <a href="#"><i class="fa fa-eye"></i></a>

                    </div>
                </div>
                <div class="column">
                    <div class="card-one">
                        <i id="icon-one" class="fa fa-pie-chart"></i>
                        <div>
                            <b>5</b>
                            <span>Tổng số chuyên ngành</span>
                        </div>
                        <a href="#"><i class="fa fa-eye"></i></a>

                    </div>
                </div>

                <div class="column">
                    <div class="card-two">
                        <i id="icon-two" class="fa fa-file-text-o"></i>
                        <div>
                            <b>100</b>
                            <span>Tổng số đồ án</span>
                        </div>
                        <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <div class="column">
                    <div class="card-three">
                        <i id="icon-three" class="fa fa-smile-o"></i>
                        <div>
                            <b>90</b>
                            <span>Sinh viên đạt</span>
                        </div>
                        <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="column">
                    <div class="card-four">
                        <i id="icon-four" class="fa fa-frown-o"></i>
                        <div>
                            <b>10</b>
                            <span>Sinh viên chưa đạt</span>
                        </div>
                        <a href="#"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-distributed">
                <p>&copy; Copyright 2020</p>
            </div>
        </div>
    </div>

</div>
<script language="JavaScript">
    // function openNav() {
    //     document.getElementById("mySidebar").style.width = "250px";
    //     document.getElementById("bar").style.display = "none";
    //     document.getElementById("oppen").style.marginRight = "250px";
    // }
    //
    // /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    // function closeNav() {
    //     document.getElementById("mySidebar").style.width = "0";
    //     document.getElementById("bar").style.display = "block";
    //     document.getElementById("oppen").style.marginRight= "0";
    // }
    // const button = document.getElementById('sign-in');
    // const  modal = document.getElementById('modal_box');
    //
    // button.onclick = function () {
    //     modal.style.display = 'block';
    // }
    //
    // const close = document.getElementById('close_modal');
    // close.onclick = function () {
    //     modal.style.display = "none";
    // }

</script>
</body>
</html>